<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="header">
        <a class="home" href="/users"> Home </a>
        <nav>
          <ul class="flex">
            <li class=" "><a class="login" href="/users/login"> Login </a></li>
            <li class="">
              <a class="register" href="/users/register"> Register </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class=" ">
      <h1 class="center">Welcome to our Website</h1>
      <p class="center">Please click on register to start our service.</p>
    </div>
    <footer class="center">
      <small
        >&copy; Copyright <strong style="color: black">2022</strong>. All Rights
        Reserved <br />
        Designed by
        <span style="color: crimson; font-weight: 500">Sarang Kulkarni</span>
      </small>
    </footer>
  </body>
</html>
